USE [BiletAl]
GO
/****** Object:  Table [dbo].[MUSTERİLER]    Script Date: 29.05.2025 00:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUSTERİLER](
	[TC] [char](11) NOT NULL,
	[AD] [nvarchar](50) NULL,
	[SOYAD] [nvarchar](50) NULL,
	[TELEFON] [char](11) NULL,
	[PAROLA] [char](15) NULL,
 CONSTRAINT [PK_MUSTERİLER] PRIMARY KEY CLUSTERED 
(
	[TC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BILETLER]    Script Date: 29.05.2025 00:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILETLER](
	[BİLETNO] [int] IDENTITY(1,1) NOT NULL,
	[SEFERNO] [int] NULL,
	[TC] [char](11) NULL,
	[KOLTUKNO] [int] NULL,
 CONSTRAINT [PK_BILETLER] PRIMARY KEY CLUSTERED 
(
	[BİLETNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEFERLER]    Script Date: 29.05.2025 00:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEFERLER](
	[SEFERNO] [int] IDENTITY(1,1) NOT NULL,
	[FIRMA] [char](11) NULL,
	[KALKIS] [char](15) NULL,
	[VARIS] [char](15) NULL,
	[TARIH] [char](10) NULL,
	[SAAT] [char](5) NULL,
	[FIYAT] [int] NULL,
 CONSTRAINT [PK_SEFERLER] PRIMARY KEY CLUSTERED 
(
	[SEFERNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[SatilanBiletler]    Script Date: 29.05.2025 00:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SatilanBiletler]
AS
SELECT dbo.BILETLER.BİLETNO, dbo.MUSTERİLER.TC, dbo.SEFERLER.SEFERNO, dbo.BILETLER.KOLTUKNO AS 'KOLTUK NO'
FROM     dbo.BILETLER INNER JOIN
                  dbo.MUSTERİLER ON dbo.BILETLER.TC = dbo.MUSTERİLER.TC INNER JOIN
                  dbo.SEFERLER ON dbo.BILETLER.SEFERNO = dbo.SEFERLER.SEFERNO
GO
/****** Object:  Table [dbo].[SEFERKOLTUKBİLGİSİ]    Script Date: 29.05.2025 00:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEFERKOLTUKBİLGİSİ](
	[SEFERNO] [int] NOT NULL,
	[KOLTUKNO] [int] NOT NULL,
	[DURUM] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_1]    Script Date: 29.05.2025 00:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_1]
AS
SELECT dbo.BILETLER.BİLETNO, dbo.MUSTERİLER.TC
FROM     dbo.BILETLER INNER JOIN
                  dbo.MUSTERİLER ON dbo.BILETLER.TC = dbo.MUSTERİLER.TC INNER JOIN
                  dbo.SEFERLER ON dbo.BILETLER.SEFERNO = dbo.SEFERLER.SEFERNO CROSS JOIN
                  dbo.SEFERKOLTUKBİLGİSİ
GO
/****** Object:  Table [dbo].[TOPLAMBILET]    Script Date: 29.05.2025 00:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOPLAMBILET](
	[TOPLAMBİLET] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BILETLER]  WITH CHECK ADD FOREIGN KEY([SEFERNO])
REFERENCES [dbo].[SEFERLER] ([SEFERNO])
GO
ALTER TABLE [dbo].[BILETLER]  WITH CHECK ADD  CONSTRAINT [FK_BILETLER_MUSTERİLER] FOREIGN KEY([TC])
REFERENCES [dbo].[MUSTERİLER] ([TC])
GO
ALTER TABLE [dbo].[BILETLER] CHECK CONSTRAINT [FK_BILETLER_MUSTERİLER]
GO
ALTER TABLE [dbo].[SEFERKOLTUKBİLGİSİ]  WITH CHECK ADD FOREIGN KEY([SEFERNO])
REFERENCES [dbo].[SEFERLER] ([SEFERNO])
GO
/****** Object:  StoredProcedure [dbo].[biletlerim_sil]    Script Date: 29.05.2025 00:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[biletlerim_sil]
    @BILETNO INT
AS
BEGIN
    DELETE FROM BILETLER WHERE BİLETNO = @BILETNO;
END
GO
/****** Object:  StoredProcedure [dbo].[FIYATFİLTRELE]    Script Date: 29.05.2025 00:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FIYATFİLTRELE]
AS
SELECT SEFERNO,FIRMA,KALKIS,VARIS,TARIH,SAAT,FIYAT,[FIYAT DURUMU]=
CASE
WHEN FIYAT<=500 THEN 'UCUZ FİYAT'
WHEN 500<FIYAT AND FIYAT<=1000 THEN 'UYGUN FİYAT'
WHEN 1000<FIYAT AND FIYAT<=2000 THEN 'PAHALI FİYAT'
END
FROM SEFERLER
GO
/****** Object:  StoredProcedure [dbo].[Musteri_Ara]    Script Date: 29.05.2025 00:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Musteri_Ara]
    @TC char(11)
AS
BEGIN
    SELECT *
    FROM MUSTERİLER
    WHERE TC LIKE '%' + @TC + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[Musteri_Guncelle]    Script Date: 29.05.2025 00:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Musteri_Guncelle]
    @AD nvarchar(50),
    @SOYAD nvarchar(50),
    @TELEFON char(11),
    @PAROLA char(15),
    @TC char(11)
AS
BEGIN
    UPDATE MUSTERİLER
    SET AD = @AD,
        SOYAD = @SOYAD,
        TELEFON = @TELEFON,
        PAROLA = @PAROLA
    WHERE TC = @TC
END
GO
/****** Object:  StoredProcedure [dbo].[Musteri_Sil]    Script Date: 29.05.2025 00:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Musteri_Sil]
    @TC char(11)
AS
BEGIN
    DELETE FROM MUSTERİLER
    WHERE TC = @TC
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "BILETLER"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 242
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "MUSTERİLER"
            Begin Extent = 
               Top = 7
               Left = 290
               Bottom = 170
               Right = 484
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "SEFERLER"
            Begin Extent = 
               Top = 7
               Left = 774
               Bottom = 170
               Right = 968
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SatilanBiletler'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'SatilanBiletler'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "SEFERKOLTUKBİLGİSİ"
            Begin Extent = 
               Top = 7
               Left = 532
               Bottom = 148
               Right = 726
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "SEFERLER"
            Begin Extent = 
               Top = 7
               Left = 774
               Bottom = 170
               Right = 968
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "MUSTERİLER"
            Begin Extent = 
               Top = 7
               Left = 290
               Bottom = 170
               Right = 484
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "BILETLER"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 242
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_1'
GO
